.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 25px;

}
.checkoutProduct--info{
    padding-left: 20px;

}

.checkoutProduct--info button{
    background: #f7ca00;
    border: 1px solid;
    border-color: #f7ca00;
    margin-top: 10px;
    color: black;
    border-radius: 5px;

}
.checkoutProductImage{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutProduct--title{
    font-weight: 18px;
    font-weight: 700;

}
